.navbar img{
    width: 250px;
}

.nav-link:hover {
    color: red !important; /* Cambia el color de fondo según tus preferencias */
  }

  .active{
    color:red !important;
  }

h1{
  color:#0039a6
}
h1 .material-symbols-outlined {
  font-size: 1.5em;
}

.carousel-inner{
  border:0px solid blue;
  max-height: 500px;
  object-fit: contain;
}

@media (max-width: 810px) {
  .carousel-inner{
    max-height: 400px;
  }
}

@media (max-width: 770px) {
  .carousel-inner{
    max-height: 300px;
  }
}

@media (max-width: 650px) {
  .carousel-inner{
    max-height: 250px;
  }
}

.card .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.card span{
  font-size:2em;
}

@media (max-width: 992px) {

  .card .imgAbout{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
}

.card .imgContact{
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

.accordion-item .accordion-header button.collapsed {
  background:rgb(3, 196, 255, 0.1) !important;
}

.accordion-item .accordion-header button:not(.collapsed) {
  background:rgb(0, 58, 166, 1) !important;
  color: white
}

.accordion-button.collapsed .accordion-button::after {
  color: red !important; /* Cambia el color de la flecha hacia abajo cuando el acordeón está desplegado */
}

.accordion-button:not(.collapsed) .accordion-button::after {
  color: red !important; /* Cambia el color de la flecha hacia abajo cuando el acordeón está desplegado */
}